/* display: flex;
  justify-content: space-around;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;



   */

.list-link {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.hidden-menu {
  list-style: none;
  display: none;
  color: #fff;
}
.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  color: red;
}
.link:hover  ~.hidden-menu{
  display: flex;
  flex-direction: column;
}
